@media (max-width: 879px) {
    body {
        background-color: #06bd2d;
        color: #000000;
    }
    

    header {
        background-color: #10b10b;
    }

    .video-fondo {
        position: relative;
        width: 90%; 
        height: 90vh; 
        overflow: hidden; 
        z-index: 1; 
    }
    
    iframe {
        position: relative;
        margin-top: 60px;
        left: 0;
        width: 80%; 
        height: 60%; 
        border: none;
        object-fit: cover; 
        pointer-events: none; 
        
    }

    .descripcion {
        color: #000000;
    }

    .botones button {
        border: 7px solid #a54606;
        background-color: #9ab309;
        color: #04188b;
    }

    .botones button:hover {
        background-color: #ce137a;
        color: #000000;
    }

    .cuadro {
        background-color: #e00d9a;
        border: 7px solid #bd00d6;
    }

    .cuadro:hover {
        background-color: #0c42d4;
        color: #0ada14;
    }

    .header-botones {
        background-color: #097be6;
    }

    .footer-botones button {
        border: 7px solid #ade414;
        background-color: #cc8d05;
        color: #f30606;
    }

    .footer-botones button:hover {
        background-color: #000000;
        color: #e6d9d9;
    }

    .floating-button {
        position: absolute;
        bottom: 10px;
        right: 10px; 
        background-color: #28a745;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        border-radius: 50px;
        text-align: center;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .floating-button:hover {
        background-color: #0c929e;
        color: #780c9c;
    }
}
