@media (max-width: 2900px) {
    body {
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 70px;
        margin: 0;
        padding: 0;
        background-color: #18b00d;
        font-family: "Roboto Condensed", sans-serif;
        color: #148392; 
    }
    
    .juegos-tabla {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid rgb(166, 20, 233); 
        transition: background-color 0.3s, color 0.3s; 
    }
    
    th {
        background-color: #a71384; 
        font-size: 180px;
        color: #f81212; 
    }
    
    th:hover {
        background-color: #cff015; 
    }
    
    td {
        background-color: #3bc00b; 
    }
    
    td:hover {
        background-color: #137ea1; 
    }
    
    .right-section button,
    .botones-horizontales button,
    .footer-botones button,
    .cuadros div {
        margin-left: 20px;
        margin-bottom: 60px;
        margin-top: 100px;
        padding: 54px 59px;
        font-size: 70px;
        cursor: pointer;
        border: 5px solid #10087a;
        background-color: #a50eb6;
        color: #cc0a44;
        border-radius: 30px;
        transition: background-color 0.4s, transform 0.4s, box-shadow 0.4s; 
    }
    
    .right-section button:hover,
    .botones-horizontales button:hover,
    .footer-botones button:hover,
    .cuadros div:hover {
        transform: scale(1.1); 
        background-color: #a75313; 
        box-shadow: 0 4px 20px rgba(149, 211, 5, 0.5); 
    }
    
    .nombre-juego p {
        border-bottom: 2px solid #0ddd48; 
        margin: 0; 
        padding: 4px 0;
        font-size: 90px;
        color: #1b088a;
        font-weight: bold;
        margin-left: 60px;
        transition: color 0.3s; 
    }
    
    .nombre-juego p:hover {
        color: #880a86;
    }
}
